In [16]:
# import the pandas library
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
(df)

        one       two     three
a  1.098714 -0.184580 -0.853125
c  0.129108 -0.781470 -0.280432
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
h  0.747895  0.831032 -1.545570

In [19]:
(df['one'].median())

0.6649366883761099

In [20]:
(df['one'].isnull())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [21]:
#Total missing value for each attribute
(df.isnull().sum())

one      3
two      3
three    3
dtype: int64

In [22]:
#any missing values?
(df['one'].isnull().values.any())

True

In [23]:
#Total no. of missing values
(df.isnull().sum().sum())

9

In [24]:
("NaN replaced with '0':")
(df.fillna(0))

        one       two     three
a  1.098714 -0.184580 -0.853125
b  0.000000  0.000000  0.000000
c  0.129108 -0.781470 -0.280432
d  0.000000  0.000000  0.000000
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
g  0.000000  0.000000  0.000000
h  0.747895  0.831032 -1.545570

In [25]:
(df)
(df.fillna(method='pad'))

        one       two     three
a  1.098714 -0.184580 -0.853125
b  1.098714 -0.184580 -0.853125
c  0.129108 -0.781470 -0.280432
d  0.129108 -0.781470 -0.280432
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
g  0.664937  1.463073  0.241111
h  0.747895  0.831032 -1.545570

In [26]:
(df)
(df.fillna(method='bfill'))

        one       two     three
a  1.098714 -0.184580 -0.853125
b  0.129108 -0.781470 -0.280432
c  0.129108 -0.781470 -0.280432
d -0.722984 -0.124305  1.648879
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
g  0.747895  0.831032 -1.545570
h  0.747895  0.831032 -1.545570

In [27]:
(df)
(df.dropna())

        one       two     three
a  1.098714 -0.184580 -0.853125
c  0.129108 -0.781470 -0.280432
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
h  0.747895  0.831032 -1.545570

In [28]:
#Interpolation of immediate data before and after it (average is taken)

(df.interpolate())

        one       two     three
a  1.098714 -0.184580 -0.853125
b  0.613911 -0.483025 -0.566778
c  0.129108 -0.781470 -0.280432
d -0.296938 -0.452887  0.684223
e -0.722984 -0.124305  1.648879
f  0.664937  1.463073  0.241111
g  0.706416  1.147052 -0.652230
h  0.747895  0.831032 -1.545570